<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Welcome to my website!</h1>
  <p>I am recently been learning about the use of flask and MySQL database. These concepts are all new to me, but I'm willing to take challenges and build sample projects which will display my over-view of the topic that I'm currently learning</p><br>
  <h3>Below I've created a sample of sign up and login page which allows user to either login or signup for the website.</h3>
  <p>On addition to that I've also used the concept of session to store data on the user's computer when they login to the website. I've also added a "Log out" function whcih removes the user login data and cleans the session.</p>
  <p>Click the link below to view project!</p>
  <p><a href="/index.html">Click here!</a></p>
</body>
</html>