<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Are you a Robot?</title>
</head>
<body>
  <form action="/robot" method="post">
    <p>Are you made of Metal?</p>
    <label><input type="radio" name="yesno" required>Yes</label><br>
    <label><input type="radio" name="yesno" required>No</label><br>
    <p>What is infinity + 1? <input type="text" name="text"></p>
    <p>Which is your favourite food?
      <select name="food">
        <option value="synthetic oil">Synthetic Oil</option>
        <option value="human food">Human food</option>
      </select>
    </p>
    <button type="submit">I am not a robot</button>
  </form>
</body>
</html>